* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.bullet1 {
	position: absolute;
  left: 426px;
  top: 446px;
  width: 16px;
  height: 16px;
	z-index: 2;
	display: none;
}

.bullet2 {
	position: absolute;
  left: 630px;
  top: 446px;
  width: 16px;
  height: 16px;
	z-index: 2;
	display: none;
}

.bullet3 {
	position: absolute;
  left: 835px;
  top: 446px;
  width: 16px;
  height: 16px;
	z-index: 2;
	display: none;
}
