* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.bullet1 {
	position: absolute;
  left: 115px;
  top: 453px;
  width: 255px;
  height: 152px;
	z-index: 10;
	display: none;
}

.bullet2 {
	position: absolute;
  left: 369px;
  top: 460px;
  width: 304px;
  height: 157px;
	z-index: 10;
	display: none;
}

.bullet3 {
	position: absolute;
  left: 615px;
  top: 453px;
  width: 265px;
  height: 150px;
	z-index: 10;
	display: none;
}
