*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 772px;
  top: 217px;
  width: 150px;
  height: 149px;
	animation: zoomIn 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 771px;
  top: 403px;
  width: 150px;
  height: 58px;
	animation: flash 0.3s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s4 {
	position: absolute;
  left: 771px;
  top: 469px;
  width: 40px;
  height: 41px;
	animation: upDown 1.5s infinite;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}


@keyframes upDown {
	0%  {
  left: 771px;
  top: 469px;
  width: 40px;
  height: 41px;
	}
	50%	{
  left: 771px;
  top: 479px;
  width: 40px;
  height: 41px;
	}
	100%  {
  left: 771px;
  top: 469px;
  width: 40px;
  height: 41px;
	}
}