*{
	margin: 0px;
	padding: 0px;
}

.s3_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s3_2 {
	position: absolute;
  left: 60px;
  top: 494px;
  width: 393px;
  height: 131px;
	animation: stampIn 0.3s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 4;
}

.s3_3 {
	position: absolute;
  left: 560px;
  top: 179px;
  width: 389px;
  height: 70px;
	animation: fadeInRight 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s3_4 {
	position: absolute;
  left: 561px;
  top: 289px;
  width: 403px;
  height: 69px;
	animation: fadeInRight 1s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3_5 {
	position: absolute;
  left: 562px;
  top: 404px;
  width: 284px;
  height: 46px;
	animation: fadeInRight 1s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3_6 {
	position: absolute;
  left: 576px;
  top: 532px;
  width: 335px;
  height: 56px;
	animation: fadeInUp 1s;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3_7 {
	position: absolute;
  left: 82px;
  top: 366px;
  width: 883px;
  height: 140px;
	animation: fadeInDown 1s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3_8 {
	position: absolute;
  left: 516px;
  top: 321px;
  width: 144px;
  height: 94px;
	animation: pulse 1s infinite;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	opacity: 0;
	z-index: 2;
}

.s3_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s3_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s3_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}



@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}


@-webkit-keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,900px,100px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,900px,100px,0px);
	opacity: 1;
  }
}

.revealHorizontal {
  -webkit-animation-name: revealHorizontal;
  animation-name: revealHorizontal;
}

@-webkit-keyframes revealHorizontalSmall {
  0% {
    clip: rect(0px,0px,130px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,300px,130px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontalSmall {
  0% {
    clip: rect(0px,0px,130px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,300px,130px,0px);
	opacity: 1;
  }
}

.revealHorizontalSmall {
  -webkit-animation-name: revealHorizontalSmall;
  animation-name: revealHorizontalSmall;
}


@-webkit-keyframes buzzIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(300px, 0px, 0);
    transform: translate3d(300px, 0px, 0);
  }
  
  80% {
    opacity: 1;
    -webkit-transform: translate3d(200px, 5px, 0);
    transform: translate3d(200px, 5px, 0);
  }
  
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes buzzIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(300px, 0px, 0);
    transform: translate3d(300px, 0px, 0);
  }
  
  80% {
    opacity: 1;
    -webkit-transform: translate3d(200px, 5px, 0);
    transform: translate3d(200px, 5px, 0);
  }
  
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.buzzIn {
  -webkit-animation-name: buzzIn;
  animation-name: buzzIn;
}

@keyframes growUp {
  0% {
	transform: scale(0);
  }
  
  100% {
	transform: scale(1);
  }
}

.growUp {
  -webkit-animation-name: growUp;
  animation-name: growUp;
}

@keyframes flyUp {
  0% {
	transform: scale(1.5);
	  left: 664px;
	  top: 133px;
	  opacity: 0;
  }
  
  100% {
	transform: scale(1);
	  left: 838px;
      top: 14px;
	  opacity: 1;
  }
}


@keyframes rotateInFull {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg) scale(0);
    opacity: 0;
  }

  100% {
    transform-origin: center;
	transform: rotate3d(0, 0, 1, 0deg) scale(1);
    opacity: 1;
  }
}

@keyframes fadeInUpGrow {
  0% {
    opacity: 0;
	transform-origin: bottom;
    transform: translate3d(0, 100%, 0) scale(0);
  }

  100% {
    opacity: 1;
	transform-origin: bottom;
    transform: none;
  }
}


@keyframes upDown {
  0% {
    opacity: 1;
	top: 400px;
  }

  50% {
    opacity: 1;
    top: 350px;
  }
  
  100% {
    opacity: 1;
    top: 400px;
  }
}