* {
  margin: 0px;
  padding: 0px;
}

.s1_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s1_2 {
  position: absolute;
  left: 47px;
  top: 59px;
  width: 930px;
  height: 56px;
  animation: fadeInUp 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_3_wrap {
  position: absolute;
  width: 1024px;
  height: 768px;
  animation: zoomIn 2s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_3 {
  position: absolute;
  left: 98px;
  top: 162px;
  width: 815px;
  height: 487px;
  animation: zoomIn 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_4 {
  position: absolute;
  left: 223px;
  top: 262px;
  width: 558px;
  height: 204px;
  animation: fadeOut 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_5 {
  position: absolute;
  left: 223px;
  top: 262px;
  width: 558px;
  height: 204px;
  animation: fadeIn 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 3;
}
