*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
	animation: fadeIn 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
	animation: fadeIn 1s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
	animation: fadeIn 1s;
	animation-delay: 6s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
	animation: fadeIn 1s;
	animation-delay: 8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
	animation: fadeIn 1s;
	animation-delay: 10s;
	animation-fill-mode: both;
	z-index: 5;
}