* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 322px;
  top: 413px;
  width: 375px;
  height: 184px;
	animation: zoomIn 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_3 {
	position: absolute;
  left: 71px;
  top: 249px;
  width: 115px;
  height: 148px;
	animation: bounceIn 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_4 {
	position: absolute;
  left: 68px;
  top: 419px;
  width: 121px;
  height: 133px;
	animation: bounceIn 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_5 {
	position: absolute;
  left: 822px;
  top: 259px;
  width: 129px;
  height: 136px;
	animation: bounceIn 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_6 {
	position: absolute;
  left: 830px;
  top: 419px;
  width: 113px;
  height: 157px;
	animation: bounceIn 1s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.takeCover {
	position: absolute;
  left: 806px;
  top: 671px;
  width: 70px;
  height: 97px;
	z-index: 10;
}

.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7  {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 925px;
  top: 677px;
  width: 99px;
  height: 91px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 223px;
  top: 505px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 368px;
  top: 434px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 513px;
  top: 503px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 659px;
  top: 435px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 805px;
  top: 586px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 805px;
  top: 479px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}