*{
	margin: 0px;
	padding: 0px;
}

.s9_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s9_2 {
	position: absolute;
  left: 60px;
  top: 107px;
  width: 152px;
  height: 13px;
	animation: fadeInDown 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 4;
}  

.s9_3 {
	position: absolute;
  left: 49px;
  top: 128px;
  width: 428px;
  height: 100px;
	animation: zoomInDown 0.8s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s9_4 {
	position: absolute;
  left: 522px;
  top: 107px;
  width: 82px;
  height: 13px;
	animation: fadeInDown 1s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s9_5 {
	position: absolute;
  left: 509px;
  top: 125px;
  width: 466px;
  height: 104px;
	animation: zoomInDown 0.8s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s9_6 {
	position: absolute;
  left: 84px;
  top: 248px;
  width: 856px;
  height: 27px;
	animation: fadeInUp 1s;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s9_7 {
	position: absolute;
  left: 196px;
  top: 316px;
  width: 313px;
  height: 252px;
	animation: fadeInLeft 1s;
	animation-delay: 5.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s9_8 {
	position: absolute;
  left: 531px;
  top: 316px;
  width: 323px;
  height: 253px;
	animation: fadeInRight 1s;
	animation-delay: 5.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s9_9 {
	position: absolute;
  left: 270px;
  top: 598px;
  width: 484px;
  height: 83px;
	animation: zoomIn 1s;
	animation-delay: 6.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s9_10 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s9_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s9_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}